<link rel="stylesheet" href="styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<html>
    <head>
        <h1 class="welcomeTitle">Welcome</h1>
    </head>

    <body class="indexPageImg">

        <div style="margin: 20px;">
            <p style="font-size: 18px; color: white;">
                We provide sensor data analytics of water resources for flood monitoring.
                <br>
                Register and select your required locations to receive alerts based on the stream data.
            </p> 
        </div>

        <div style="margin: 10px 0px 0px 10px;">
            <a class="linkButton" href="login">Login</a>
            <a class="linkButton" href="register">Register</a>
        </div>

    </body>

</html>